*{
    padding: 0;
    margin: 0 auto;
}

body{
    height: 100%;
    background-color: black;
    display: block;
}

.contentDiv{
    height: 550px;
    width: 1200px;
    margin: auto;
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: red;
    display: block;
}

.topBar{
    height: 10%;
    width: 100%;
    background-color: blue;
    display: block;
}

.dailyPic{
    height: 75%;
    width: 100%;
    background-image: url('../image/bgp.jpg');
    display: block;
}

.bottomBar{
    height: 15%;
    width: 100%;
    background-color: green;
    display: block;
}


