{% load static  %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MineHome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{% static "style/index.css" %}' rel='stylesheet' type='text/css'/>
</head>
<body>
    <div class="contentDiv">
        <div class="topBar">TopBar</div>
        <div class="dailyPic">
        </div>
        <div class="bottomBar">
            <ul>
                <li>日推音乐</li>
                <li>呓语</li>
                <li>烦人弹唱会</li>
                <li>亲爱的树洞</li>
            </ul>
        </div>
    </div>
</body>
</html>
